<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ" version="0.49.3.390" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.2" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net45" />
</packages>